body {
    font-family: 'Nunito', sans-serif;
}

body { background: #FCF; }

.divider {								
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						
    margin: 40px auto;					
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 17px;							
    -moz-background-size: 100% 2px; 	
    background-size: 100% 2px; 			
    background-position: 0 0, 0 50%;
    background-repeat: no-repeat;
}
.divider span:first-child {				
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
    font-family: 'Nunito-SemiBold';
}
.divider span:last-child {	
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}

.roundedCornerImage {
    border-radius: 10px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

ul {
    display: inline
}

footer {
    font-family: Nunito;
    border-radius: 5px;
    padding: 10px 20px;
    background: gray;
    color: white;
    height: 40px;
}

p {
    font-family: 'Nunito', sans-serif;
}

a.link {
    color: white
}
